@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: 255 255 255;
  --color-near-black: 30 30 30;
  --color-blue: 68 0 255;
  --color-purple: 144 104 255;

  --foreground: var(--color-near-black);
  --background: var(--color-white);
  --primary: var(--color-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--color-white);
    --background: var(--color-near-black);
    --primary: var(--color-purple);
  }
}
