@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 4%;

    --primary: 256 100% 50%;
    --primary-foreground: 0 0% 98%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 256 25% 10%;
    --foreground: 60 25% 95%;

    --primary: 256 100% 70%;
    --primary-foreground: 60 25% 95%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
  ul {
    padding-left: 1.3em;
    text-indent: -1.3em;
  }

  li:before {
    content: "― ";
  }

  summary {
    display: flex;
    margin-top: 1em;
    cursor: pointer;
    @apply text-primary;
  }

  summary:hover {
    opacity: 0.7;
  }

  summary::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(256 100% 50%)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-down'><path d='m6 9 6 6 6-6'/></svg>");
    background-size: cover;
    margin-left: 0.25em;
    transition: 0.2s;
    transform: rotate(0deg) translate(0, -0.1em);
  }

  .dark summary::after {
    background: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(256 100% 70%)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-down'><path d='m6 9 6 6 6-6'/></svg>");
  }

  details[open] > summary::after {
    transform: rotate(180deg) translate(0, 0.1em);
  }

  details[open] > summary {
    margin-bottom: 1em;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
